.share {
  margin: 0px 30px;
  display: inline-flex;
}
.evernote {
  width: 32px;
  height: 32px;
  border-radius: 300px;
  background-color: #3e3e3e;
  margin-right: 5px;
  a {
    color: #fff;
    padding: 11px;
    font-size: 12px;
  }
  a:hover {
    color: #ed6243;
    padding: 11px;
  }
}
.weibo {
  width: 32px;
  height: 32px;
  border-radius: 300px;
  background-color: #ed6243;
  margin-right: 5px;

  a {
    color: #fff;
    padding: 9px;
  }
  a:hover {
    color: #bd4226;
  }
}
.twitter {
  width: 32px;
  height: 32px;
  border-radius: 300px;
  background-color: #59c0fd;
  margin-right: 5px;

  a {
    color: #fff;
    padding: 9px;
  }
  a:hover {
    color: #4b9ece;
  }
}
