/* Menu样式 */
.menu {
  float: right;
  padding-top: 30px;

  .btn-down {
    margin: 0px;
    li {
      list-style: none;
      width: 100px;

      a {
        display: inline-block;
        position: relative;
        padding: 0.5em 1.25em;
        outline: 0;
        color: rgba(0, 0, 0, 0.44);
        background: rgba(0, 0, 0, 0);
        font-size: 14px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.15);
        white-space: nowrap;
        font-weight: 400;
        font-style: normal;
        border-radius: 999em;
        margin-top: 5px;

        &:hover {
          position: relative;
          padding: 0.5em 1.25em;
          outline: 0;
          color: #fff;
          background: #3cbd10;
          font-size: 14px;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          border: 1px solid rgba(0, 0, 0, 0.15);
          white-space: nowrap;
          font-weight: 400;
          font-style: normal;
          border-radius: 999em;
          margin-top: 5px;
        }
      }
    }
  }

  .btn-down div {
    position: absolute;
    visibility: hidden;
    width: 100px;
    float: right;
  }
}
