.sidebar {
  width: 40%;
  background-size: cover;
  background-color: #fff;
  height: 100%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 4;
  border-right: 1px solid #f2f2f2;
  padding: 3.2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar .logo-title {
  text-align: center;
  padding-top: 100px;
}

.sidebar .logo-title img {
  margin-bottom: 2em;
}

.sidebar .logo-title .description,
.sidebar .logo-title .title h3 {
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 2px;
  line-height: 1.7;
  padding: 0.6rem 0;
  margin: 0;
}

.sidebar .logo-title .description span {
  font-weight: 400;
  color: #333;
}

.sidebar .logo-title .title h3 {
  text-indent: 2em;
  font-weight: 300;
  color: #464646;
  font-size: 1rem;
}

.sidebar .social-links {
  float: left;
  list-style: none;
  display: flow-root;
  padding: 0;
  margin: 0.4em 0;
  font-size: 1.1em;
}

.sidebar .social-links li {
  display: inline;
  margin: 8px;
  line-height: 0;
}

.sidebar .social-links a {
  color: #565654;
}

.sidebar .social-links a:hover {
  color: #4786d6;
}

.content {
  height: auto;
  float: right;
  width: 60%;
  margin-top: 80px;
}

.page-top {
  width: 60%;
  position: fixed;
  right: 0;
  z-index: 3;
  height: 65px;
  line-height: 65px;
  border-bottom: 1px solid #f2f2f2;
  background-color: white;
}

.page-top .nav {
  list-style: none;
  float: left;
  font-size: 18px;
  letter-spacing: 0.8px;
}

.page-top .nav li {
  position: relative;
  display: initial;
  padding: 2rem;
}

.page-top .nav a {
  color: #5a5a5a;
}

.page-top .nav a:hover {
  color: #4786d6;
}

.page-top .nav a.current {
  color: #5a5a5a;
  padding-bottom: 20px;
  border-bottom: 1px solid #5a5a5a;
}

.post {
  background-color: #fff;
  margin: 30px;
}

.post .post-title h3 {
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  color: #464646;
  font-size: 22px;
  margin-bottom: 26px;
}

.post .post-title a {
  color: #5f5f5f;
}

.post .post-title a:hover {
  border-bottom: 1px solid #333;
}

.post .post-content a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #4786d6;
}

.post .post-content a:hover {
  color: #2f69b3;
}

.post .post-content h3 {
  color: #5f5f5f;
  font-size: 22px;
  font-weight: 600;
}

.post .post-content h4 {
  color: #5f5f5f;
  font-size: 16px;
}

.post .post-footer {
  padding: 0 0 22px 0;
  border-bottom: 1px solid #f2f2f2;
}

.post .post-footer .meta {
  max-width: 100%;
  height: 25px;
  color: #bbbbbb;
}

.post .post-footer .meta .info {
  float: left;
  font-size: 12px;
}

.post .post-footer .meta .info .date {
  margin-right: 10px;
}

.post .post-footer .meta a {
  text-decoration: none;
  color: #bbbbbb;
  padding-right: 10px;
}

.post .post-footer .meta a:hover {
  color: #4786d6;
}

.post .post-footer .meta i {
  margin: 0 10px;
}

.post .post-footer .tags {
  padding-bottom: 15px;
  font-size: 13px;
}

.post .post-footer .tags ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.post .post-footer .tags ul li {
  list-style-type: none;
  margin: 0;
  padding-right: 5px;
  display: inline;
}

.post .post-footer .tags a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.44);
  font-weight: 400;
}

.post .post-footer .tags a:hover {
  text-decoration: none;
}

.pagination {
  margin: 30px;
  padding: 0px 0 56px 0;
  border-bottom: 1px solid #f2f2f2;
}

.pagination ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 13px;
}

.pagination ul li {
  margin: 0 2px 0 2px;
  display: inline;
  line-height: 1;
}

.pagination ul li a {
  text-decoration: none;
}

.pagination .pre {
  float: left;
}

.pagination .next {
  float: right;
}

#disqus_thread {
  margin: 30px;
  border-bottom: 1px solid #f2f2f2;
}

.banner {
  z-index: -1;
}

.banner img {
  z-index: inherit;
  position: absolute;
  right: 0;
  bottom: 0;
}

.footer {
  clear: both;
  font-size: 10px;
  margin: 0 auto;
  bottom: 0;
  position: absolute;
  width: 100%;
  padding-bottom: 20px;
  color: #a6a6a6;
  line-height: 2em;
}

.footer a {
  color: #a6a6a6;
}

.footer a:hover {
  color: #4786d6;
}
/*# sourceMappingURL=index.css.map */